header {
  background-color: #04724d;
}

/* logos header */
.container-fluid.header, .logo-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 7.3vh;
}

.logo-group {
  flex-wrap: wrap;
}

#logo_inti {
  height: 7vh;
  max-height: 7.5vh;
  min-height: 5vh;
}

#logo_ap {
  height: 7vh;
  max-height: 9vh;
  min-height: 5vh;

}

/* Iconos redes sociales */

button {
  color: white;
  background-color: white;
}

.navbar-collapse {
  justify-content: flex-end;
}

.icon-group {
  display: flex;
  align-items: center;
  filter: invert(100%);
  object-fit: contain;
  justify-content: flex-end;
}

#logo_in {
  height: 5vh;
  margin-left: 3vh;
  cursor: pointer;
}

#logo_out {
  height: 5vh;
  margin-left: 3vh;
  filter: invert(100%);
  border-radius: 50%;
  cursor: pointer;
}

#logoadd {
  margin-right: 2vh;
  cursor: pointer;
  height: 2.5vh;
}

#edit {
  margin-right: 5vh;
  cursor: pointer;
  height: 3.3vh;
}