<header>
    <div class="container-fluid header">
      <div class="logo-group">
        <a
          routerLink="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"
          target="_blank"
        >
          <img
            id="logo_ap"
            class="img-fluid"
            src="assets/APLogo-20-20.png"
            alt="logo argentina programa"
        /></a>
        <img
          id="logo_inti"
          class="img-fluid"
          src="assets/LogosInti.png"
          alt="logo inti"
          usemap="#image-map"
        />
        <map name="image-map">
          <area
            target="_blank"
            alt="inti"
            title="inti"
            routerLink="https://www.inti.gob.ar/"
            coords="50,60,0,0"
            shape="rect"
          />
          <area
            target="_blank"
            alt="ministerio de produccion"
            title="ministerio de produccion"
            routerLink="https://www.argentina.gob.ar/produccion"
            coords="200,50,0,0"
            shape="rect"
          />
        </map>
      </div>
      <div class="icon-group">
        <a routerLink="https://www.instagram.com/fede.muta/" target="_blank">
          <img
            id="logo_ig"
            class="img-fluid"
            src="assets/bxl-instagram.svg"
            alt="logo instagram"
          />
        </a>
        <a routerLink="https://github.com/FedeMuta" target="_blank">
          <img
            id="logo_git"
            class="img-fluid"
            src="assets/bxl-github.svg"
            alt="logo github"
          />
        </a>
        <a routerLink="mailto: fedemuta@gmail.com" target="_blank">
          <img
            id="logo_gm"
            class="img-fluid"
            src="assets/bxl-gmail.svg"
            alt="logo gmail"
          />
        </a>
        <a
          routerLink="https://web.whatsapp.com/send?phone=54911******87"
          target="_blank"
        >
          <img
            id="logo_wh"
            class="img-fluid"
            src="assets/bxl-whatsapp.svg"
            alt="logo whatsapp"
          />
        </a>
        <img
          id="logo_in"
          class="img-fluid"
          src="assets/bxs-log-in.svg"
          alt="logo login"
        />
      </div>
    </div>
</header>