* {
  padding: 0%;
  margin: 0%; 
}

#proyectos {
  background-color: #586f7c;
  min-height: 92.7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*scroll-snap-align: start;*/
}

.row {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}