<div class="contenedor"> 
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="row"> 
    <div class="col-12">
      <h3>Iniciar sesión</h3>
    </div>
    <div class="col-12">
      <input
        type="email"
        formControlName="mail" required
        placeholder="Email"
        class="form-control"
        required="required"
      />
    </div>
    <div class="col-12">
      <input
        type="password"
        formControlName="password" required
        placeholder="Contraseña"
        class="form-control"
      />
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
        Iniciar sesión
      </button>
    </div>
  </form>
</div>