<section class="banner">
  <div class="banner-content fixed">
    <h1>
      <span class="title-left rellax">
        <span class="letter-left">W</span>
        <span class="letter-left">e</span>
        <span class="letter-left">b</span>
        <span class="letter-left">&nbsp;</span>
        <span class="letter-left">D</span>
        <span class="letter-left">e</span>
        <span class="letter-left">v</span>
        <span class="letter-left">e</span>
        <span class="letter-left">l</span>
        <span class="letter-left">o</span>
        <span class="letter-left">p</span>
        <span class="letter-left">e</span>
        <span class="letter-left">r</span>
      </span>
      <span class="title-right">
        <span class="letter-right">&nbsp;</span>
        <span class="letter-right">F</span>
        <span class="letter-right">u</span>
        <span class="letter-right">l</span>
        <span class="letter-right">l</span>
        <span class="letter-right">&nbsp;</span>
        <span class="letter-right">S</span>
        <span class="letter-right">t</span>
        <span class="letter-right">a</span>
        <span class="letter-right">c</span>
        <span class="letter-right">k</span>
      </span>
    </h1>
  </div>
  <div class="ribbon ribbon1"></div>
  <div class="ribbon ribbon2"></div>
  <div class="ribbon ribbon3"></div>
  <div class="ribbon ribbon4"></div>
  <div class="ribbon ribbon5"></div>
  <div class="rellax-background"></div>
</section>
