<!--Este es mi archivo principal, aca voy a cargar la estructura de los diferentes componentes -->
<!--estoy poniendo cada componenete principal uno debajo del otro como era en la maqueta de html y css -->
<!--tambien tengo componentes que se insertan dentro de otros, como iconos, tajetas, barras de porcentajes, etc-->
<app-header>
  <app-icono></app-icono>
</app-header>
<app-banner></app-banner>
<app-acercade>
  <app-map></app-map>
</app-acercade>
<app-experiencia>
  <app-cardxp
    id="One"
    imgempresa="assets/logo sr.jpg"
    empresa="ShowRoom Liniers"
    puesto="Encargado de Ventas Online"
    detalles="Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
  inventore provident neque vitae delectus voluptatibus? Asperiores
  culpa quae provident"
  ></app-cardxp>
  <app-cardxp
    id="Two"
    imgempresa="assets/logo sr.jpg"
    empresa="Camara de Diputados de la Nacion"
    puesto="Encargado de Ventas Online"
    detalles="Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
  inventore provident neque vitae delectus voluptatibus? Asperiores
  culpa quae provident"
  ></app-cardxp>
  <app-cardxp
    id="Three"
    imgempresa="assets/logo sr.jpg"
    empresa="Dicort S.A."
    puesto="Encargado de Ventas Online"
    detalles="Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
  inventore provident neque vitae delectus voluptatibus? Asperiores
  culpa quae provident"
  ></app-cardxp>
</app-experiencia>
<app-estudios>
  <app-cardst
    institucion="ESC Nº24 DEº13 Sara de Elia de Gimenez"
    detalle="Estudios primarios completados"
    inidate="1993"
    endate="1999"
    img=""
  ></app-cardst>
  <app-cardst
    institucion="Colegio de Bellas Artes Rogelio Yrurtia"
    detalle="Estudios secundarios completados"
    inidate="2000"
    endate="2005"
    img=""
  ></app-cardst>
  <app-cardst
    institucion="Argentina Programa #SeProgramar"
    detalle="Curso sobre programacion, nociones basicas, logica, javascript, POO. Completado"
    inidate="04/2022"
    endate="07/2022"
    img=""
  ></app-cardst>
</app-estudios>
<app-skills>
  <app-progressbar
    blanda
    habilidad="Comunicación"
    color="celeste"
    percent="75"
  ></app-progressbar>
  <app-progressbar
    blanda
    habilidad="Resolución de conflictos"
    color="verde"
    percent="80"
  ></app-progressbar>
  <app-progressbar
    blanda
    habilidad="Liderazgo"
    color="naranja"
    percent="70"
  ></app-progressbar>
  <app-progressbar
    dura
    habilidad="Desarrollo Web"
    color="verde"
    percent="90"
  ></app-progressbar>
  <app-progressbar
    dura
    habilidad="Análisis de Datos"
    color="rojo"
    percent="30"
  ></app-progressbar>
  <app-progressbar
    dura
    habilidad="Javascript"
    color="celeste"
    percent="70"
  ></app-progressbar>
</app-skills>
<app-proyectos>
  <app-proyectcard
    name="Proyecto 1"
    descripcion="Descripción del proyecto 1"
    link="#"
    img="https://via.placeholder.com/350x200"
  ></app-proyectcard>
  <app-proyectcard
    name="Proyecto 2"
    descripcion="Descripción del proyecto 2"
    link="#"
    img="https://via.placeholder.com/350x200"
  ></app-proyectcard>
</app-proyectos>
<app-footer></app-footer>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>
