<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-header>
  <app-icono
    link="https://www.instagram.com/fede.muta"
    imagen="assets/bxl-instagram.svg"
    alt="instagram"
  ></app-icono>
  <app-icono
    link="https://github.com/FedeMuta"
    imagen="assets/bxl-github.svg"
    alt="github"
  ></app-icono>
  <app-icono
    link="mailto: fedemuta@gmail.com"
    imagen="assets/bxl-gmail.svg"
    alt="gmail"
  ></app-icono>
  <app-icono
    link="https://web.whatsapp.com/send?phone=54911******87"
    imagen="assets/bxl-whatsapp.svg"
    alt="whatsapp"
  ></app-icono>
</app-header>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
