<!--Este es mi archivo principal, aca voy a cargar la estructura de los diferentes componentes -->
<!--estoy poniendo cada componenete principal uno debajo del otro como era en la maqueta de html y css -->
<!--tambien tengo componentes que se insertan dentro de otros, como iconos, tajetas, barras de porcentajes, etc-->
<app-header>
  <app-icono
    link="https://www.instagram.com/fede.muta"
    imagen="assets/bxl-instagram.svg"
    alt="instagram"
  ></app-icono>
  <app-icono
    link="https://github.com/FedeMuta"
    imagen="assets/bxl-github.svg"
    alt="github"
  ></app-icono>
  <app-icono
    link="mailto: fedemuta@gmail.com"
    imagen="assets/bxl-gmail.svg"
    alt="gmail"
  ></app-icono>
  <app-icono
    link="https://web.whatsapp.com/send?phone=54911******87"
    imagen="assets/bxl-whatsapp.svg"
    alt="whatsapp"
  ></app-icono>
</app-header>
<app-banner></app-banner>
<app-acercade
  nombre="Federico Leal"
  descripcion="Tu descripción"
  foto="assets/foto-perfil.jpg"
>
  <app-map></app-map>
</app-acercade>
<app-experiencia>
  <app-cardxp
    id="One"
    imgempresa="assets/logo sr.jpg"
    empresa="ShowRoom Liniers"
    puesto="Encargado de Ventas Online"
    detalles="Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
  inventore provident neque vitae delectus voluptatibus? Asperiores
  culpa quae provident"
  ></app-cardxp>
  <app-cardxp
    id="Two"
    imgempresa="assets/logo sr.jpg"
    empresa="Camara de Diputados de la Nacion"
    puesto="Encargado de Ventas Online"
    detalles="Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
  inventore provident neque vitae delectus voluptatibus? Asperiores
  culpa quae provident"
  ></app-cardxp>
  <app-cardxp
    id="Three"
    imgempresa="assets/logo sr.jpg"
    empresa="Dicort S.A."
    puesto="Encargado de Ventas Online"
    detalles="Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
  inventore provident neque vitae delectus voluptatibus? Asperiores
  culpa quae provident"
  ></app-cardxp>
</app-experiencia>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>
