.card {
  background-color: #F4F4F9;
  box-shadow: 0 2vh 2vh #023d29;
  margin: 2vh 2vh 2vh 2vh;
  min-width: 30vw;
}

.img-fluid {
  align-self: center;
  width: 20vh;
  height: auto;
  transition: width 1s;
}

.img-fluid:hover {
  width: 25vh;
  height: auto;
}

.accordion-button {
  display: flex;
  background-color: #f4f4f9;
  overflow: auto;
}

.accordion-collapse {
  overflow-y: scroll;
  background-color: #F4F4F9;
  max-height: 25vh;
}

button {
  font-size: 70%;
}
