/* Estilos de la tarjeta */
.card {
  border: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  transition: transform 0.2s ease-in-out;  
}

.card:hover {
  transform: translateY(-5px);
}

/* Estilos del botón */
.btn-primary {
  background-color: #fff;
  color: #6d7a81;
  border: none;
}

.btn-primary:hover {
  background-color: #72797e;
  color: #ffff;
}

/* Ajustes de margen */
.mb-4 {
  margin-bottom: 1.5rem;
}

/* Ajuste de tamaño de imagen */
.card-img-top {
  height: 200px;
  object-fit: cover;
}
